<h1>User's Show Page</h1>
  <p><%= current_user.first_name%>'s Page</p>

  <div id="account_settings"><strong>Account Settings</strong>
    <p><%= link_to "Edit Account", edit_user_path(@user.id) %></p>
    <p><%= link_to "Delete Account", user_path(@user.id), :method => "delete" %></p>
  </div>

  <div id="add_car"><strong>Add New Vehicle To Account</strong>
    <p><%= link_to "Track New Car", new_car_path %></p>
  </div>

  <div id="active_cars"><strong>Active Vehicles</strong>
    <ul>
        <% @cars.each do |car|%>
      <li>
          <p><%= car.name %> || <%= car.make %>, <%= car.model %></p>
          <a href="<%= car_dashboard_index_path(car) %>">
            <img src="<%= car.image_url %>">
          </a>
          <p><%= link_to "Edit Car", edit_car_path(car) %> || <%= link_to "Delete Car", car_path(car), :method => "delete" %></p>
        <% end %>
      </li>
    </ul>
  </div>

