<!DOCTYPE html>
<html>
<head>
  <title>InTheShopApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <p id="log_out"><%= link_to "Sign out", logout_path, id: "log_out" %></p>

<%= yield %>

</body>
</html>
